<h1>{{title}}</h1>
<h2>{{requester}}</h2>
<h3>{{source}}</h3>
<h4>{{toLocaleString range.start}} - {{toLocaleString range.end}}</h4>

<script src="/public/js/playlist.js"></script>

<!--guild: string;-->
<!--range: Range;-->
<!--channel: string;-->
<!--source: Source;-->
<!--requester: string;-->
<!--force: boolean;-->

